/* AccountHome.css */
.account-home {
  text-align: center;
  padding: 20px;
 
}

.salary-header {
  margin-bottom: 20px;
}

.salary-header h1 {
  font-size: 50px;
  font-weight: bold;
  text-align:left;
}

.salary-buttons {
  display: flex;
  flex-direction: column; /* Stacks buttons vertically */
  gap: 100px; /* Space between buttons */
  align-items: center; /* Center-aligns the buttons */
}

.salary-button {
  width: 300px; /* Adjust width as needed to match your design */
  padding: 20px 25px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #4CAF50; /* Green color to match the wireframe */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.salary-button:hover {
  background-color: #45a049;
}
